#branches {
  .card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;

    .branches {
      margin: 0 auto;
      padding-top: 15px;
      border-bottom-right-radius: inherit;
      overflow: hidden;
      display: flex;
      justify-content: center;
      gap: 10px;

      h5 {
        background-color: var(--c-white-shadow);
        padding: 2px 3px;
        margin: 0;
        @include prefixer(border-radius, 5px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-transform: capitalize;
        white-space: nowrap;
        font-weight: 500;
        font-size: 11px;
        cursor: pointer;
        @include prefixer(transition, var(--time-transition));

        @include breakpoints(sm) {
          padding: 2px 6px;
          font-size: 14px;
        }

        @include breakpoints(lg) {
          padding: 10px 20px;
          font-size: 20px;
        }

        &:hover {
          background-color: var(--c-main-transparent);
          color: var(--c-white-main);
        }

        &.active {
          background-color: var(--c-main);
          color: var(--c-white-main);
          font-weight: bold;
        }
      }

      h5:not(:last-child) {
        border-right: inherit;
      }

      &.ar {
        margin: 0 auto;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: inherit;

        h5 {
          border-left: 1px solid var(--c-white-shadow);
          border-right: 0;
        }
      }
    }
  }

  .window {
    animation: up-big 0.5s ease-in-out;
  }

  .window {
    background-color: var(--c-white-95);
    width: 450px;
    margin: -300px auto 0;
    padding: 25px 45px;
    position: relative;
    text-align: center;

    @include breakpoints(xs) {
      width: calc(100% - 20px);
      padding: 20px 15px;
    }

    @include breakpoints(sm) {
      width: 450px;
      padding: 20px 15px;
    }

    @include breakpoints(md) {
      margin-top: -175px;
      width: calc(100% - 100px);
    }

    @include breakpoints(md) {
      margin-top: -175px;
      width: calc(100% - 200px);
    }

    &::before {
      content: "";
      background-color: var(--c-main);
      height: 5px;
      position: absolute;
      @include set-position(0, 0, auto, 0);
    }

    .map-icon-holder {
      background-color: var(--c-main);
      @include same-scale(75px);
      margin: 20px auto 0;
      @include prefixer(border-radius, 50%);
      @include centering;
      font-size: 35px;
      color: var(--c-white-main);
      @include prefixer(transition, var(--time-transition));
      cursor: pointer;

      &:hover {
        background-color: var(--c-main-shadow);
      }
    }
  }
}
