#contact {
  .form-control {
    text-align: left;
  }
  &.ar {
    .form-control {
      text-align: right;
    }
  }

  form {
    &.ar {
      flex-direction: row-reverse;
    }

    .submit {
      background-color: var(--c-main);
      width: fit-content;
      margin: 15px auto;
      border: none;

      &:hover {
        background-color: var(--c-main-shadow);
      }
    }
  }
}
